body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: orange;
}

.title {
  display: flex;
  margin: 0;
  padding-left: 16px;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  height: 60px;
  color: white;
}
.headerlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  gap: 16px;
  padding-right: 32px;
}

.content {
  display: flex;
  justify-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 110px;
  padding-bottom: 50px;
  background-image: url("./Images/sSjQzno.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}

.leftrail {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.introimg {
  display: flex;
  height: 35%;
  width: 35%;
}
.contentheading {
  display: flex;
  font-size: 26px;
  font-weight: 900;
}

.datte-bayo {
  margin-top: 10px;
  background-color: rgb(177, 148, 198); /* Green */
  border: none;
  color: white;
  border-radius: 25px;
  width: 30%;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.teamtext {
  padding: 12px;
  font-size: 30px;
  font-weight: 800;
  margin: 0;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timage {
  display: flex;
}

.teammates {
  display: flex;
  width: 75%;
  height: auto;
  row-gap: 12px;
}
.text {
  padding-top: 12px;
  padding-bottom: 12px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(224, 184, 147, 0.857);
}
.theispiringquote{
    display: flex;
    align-items: center;
    font-family: fantasy;
    font-size: 24px;
    width: 50%;
    height: auto;
    padding-top: 100px;
}
.author{
    padding-left: 45%;
    padding-bottom: 60px;
    font-family: fantasy;
    font-size: 24px;
}

.footer {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 156, 18);
}
a {
  color: white;
  text-decoration: none;
}

ul {
  padding-left: 16px;
  font-size: 24px;
  list-style-type: none;
}

img {
  border-radius: 25px;
}
